<div
  class="absolute"
  [class.rotate-0]="direction === directionEnum.Up"
  [class.rotate-45]="direction === directionEnum.UpRight"
  [class.-rotate-45]="direction === directionEnum.UpLeft"
  [class.rotate-90]="direction === directionEnum.Right"
  [class.-rotate-90]="direction === directionEnum.Left"
  [class.rotate-135]="direction === directionEnum.DownRight"
  [class.-rotate-135]="direction === directionEnum.DownLeft"
  [class.rotate-180]="direction === directionEnum.Down"
  [class.z-3]="isExplode"
  [class.z-4]="!isExplode"
  [style.filter]="isExplode && explosionFrame >= 6 ? 'brightness(40%)' : ''"
  [style.height.px]="size"
  [style.width.px]="size"
  [style.top.px]="top"
  [style.left.px]="left"
><!-- [style]="{ border: settings.isDebugMode ? '1px solid blue' : '' }" -->
  <div
    *ngIf="settings.isDebugMode"
    [style.outline]="'1px solid blue'"
    [style.outline-offset]="-movementDelta/2 + 'px'"
    class="absolute w-full h-full z-5"
  ></div>

  <!-- Информация (броня) -->
  <app-info
    *ngIf="explosionFrame < 6"
    [armor]="armor"
    [tankDirection]="direction"
  ></app-info>

  <!-- Индикация игрока -->
  <app-player-indicator
    *ngIf="isPlayerIndicatorVisible"
    [(isVisible)]="isPlayerIndicatorVisible"
    [tankDirection]="direction"
  ></app-player-indicator>

  <!-- Корпус -->
  <app-hull
    [color]="hullColor"
    [speed]="currentSpeed"
    [isRotating]="isRotating"
    [isTurboActive]="isTurboActive"
    [trackType]="trackType"
    [type]="hullType"
  ></app-hull><!-- [tick]="tick" -->

  <!-- Башня -->
  <app-turret
    [color]="turretColor"
    [type]="turretType"
  ></app-turret>

  <!-- Пушка -->
  <app-gun
    [color]="gunColor"
    [flashType]="flashType"
    [trigger]="fireTrigger"
    [type]="gunType"
  ></app-gun>

  <!-- Взрыв -->
  <app-explosion
    *ngIf="isExplode"
    (frameChange)="explosionFrame = $event"
    [showBlastTrail]="settings.world.showBlastTrail"
  ></app-explosion>
</div>

<!-- Снаряд -->
<app-shell
  [explosionType]="explosionType"
  [impactType]="shellImpactType"
  [initialDirection]="direction"
  [initialLeft]="this.left + (this.size / 4)"
  [initialTop]="this.top + (this.size / 4)"
  [(isVisible)]="isShellVisible"
  [size]="size / 2"
  [speed]="shellSpeed"
  [tankIndex]="index"
  [type]="shellType"
  [worldSize]="worldSize"
></app-shell><!-- [tick]="tick" -->
