<div class="relative">
  <div
    class=""
    style="border: 1px solid gray;"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.background-color]="backgroundColor"
  >
    <!-- Маска паузы -->
    <div
      *ngIf="isPauseActive"
      class="absolute w-full h-full z-6 flex align-items-center justify-content-center bg-black-alpha-60"
    >
      <span class="text-white-alpha-90">Пауза</span>
    </div>

    <!-- Мир -->
    <div class="w-full h-full flex flex-wrap align-content-start">
      <app-tank
        *ngFor="let index of tankIndexes"
        [index]="index"
        (moving)="tankMovementService.tankMovingHandler(index, $event)"
        [color]="tankColors[index]"
        [directionControl]="directionControls[index]"
        [explosionType]="explosionType"
        [gunType]="gunType"
        [flashType]="flashType"
        [hullType]="hullType"
        [isExplode]="getShellsImpactByTankIndex(index).length > 0"
        [isFireControl]="isFireControls[index]"
        [isTurboControl]="isTurboControls[index]"
        [shellType]="shellType"
        [shellImpactType]="shellImpactType"
        [size]="squareSize"
        [speed]="speed"
        [trackType]="trackType"
        [turboMultiplier]="turboMultiplier"
        [turretType]="turretType"
        [worldSize]="size"
      ></app-tank>
      <!-- [tick]="tick$ | async" -->
      <!-- [isExplode]="shellImpactTanksIndexes.includes(index)" -->

      <app-square
        *ngFor="let square of worldService.squares"
        [index]="square.index"
        [size]="squareSize"
        [type]="square.type"
        [worldType]="type"
      ></app-square><!-- [tick]="tick$ | async" -->
    </div>
  </div>
</div>
