<div *transloco="let t" class="relative">
  <div
    class=""
    [style.width.px]="size"
    [style.height.px]="size"
    [style.background-color]="backgroundColor"
  >
    <!--<div class="absolute" style="color: red; z-index: 999;"><pre>{{worldService.tankArmors|json}}</pre></div>-->

    <!-- Маска паузы -->
    <div
      *ngIf="worldService.isPauseMaskActive"
      class="absolute w-full h-full z-6 flex align-items-center justify-content-center bg-black-alpha-60"
    >
      <span class="text-white-alpha-90">{{ t('pause') }}</span>
    </div>

    <!-- Название мира и обратный отсчет до начала боя -->
    <div
      *ngIf="isStartTimerActive && !worldService.isPauseMaskActive"
      class="absolute w-full h-full z-6 flex align-items-center justify-content-center"
    >
      <span class="text-white-alpha-90 text-lg">
        <span *ngIf="!startTimerText">{{ t('world') }} {{worldNumber$ | async}}</span>
        <span *ngIf="startTimerText">{{startTimerText}}</span>
      </span>
    </div>

    <!-- Информация -->
    <div
      *ngIf="!settings.isPlayerActive && !worldService.isPauseMaskActive"
      class="absolute w-full h-full z-6 flex justify-content-between"
    >
      <span class="text-white-alpha-90 text-sm m-1" [class.hidden]="!isInfoVisible">
        {{ t('pressFireButton') }}
      </span>
    </div>

    <!-- Управление -->
    <app-d-pad
      *ngIf="isDPadVisible"
      (buttonDown)="handleDPadButtonDown($event)"
      (buttonUp)="handleDPadButtonUp($event)"
      [isPlayerActive]="settings.isPlayerActive"
    ></app-d-pad>

    <!-- Мир -->
    <div class="w-full h-full flex flex-wrap align-content-start">
      <app-tank
        *ngFor="let index of tankIndexes"
        [armor]="worldService.getTankArmor(index)"
        [index]="index"
        (moving)="tankMovementService.tankMovingHandler(index, $event)"
        [color]="tankColors[index]"
        [directionControl]="directionControls[index]"
        [explosionType]="tanks[index].explosionType"
        [gunType]="tanks[index].gunType"
        [flashType]="tanks[index].flashType"
        [hullType]="tanks[index].hullType"
        [isFireControl]="isFireControls[index]"
        [isTurboControl]="isTurboControls[index]"
        [shellSpeed]="tanks[index].shellSpeed"
        [shellType]="tanks[index].shellType"
        [shellImpactType]="tanks[index].shellImpactType"
        [size]="squareSize"
        [speed]="tanks[index].speed"
        [trackType]="tanks[index].trackType"
        [turboMultiplier]="tanks[index].turboMultiplier"
        [turretType]="tanks[index].turretType"
        [worldSize]="size"
      ></app-tank>
      <!-- [tick]="tick$ | async" -->
      <!-- [isExplode]="shellImpactTanksIndexes.includes(index)" -->

      <app-square
        *ngFor="let square of worldService.squares"
        [index]="square.index"
        [size]="squareSize"
        [type]="square.type"
        [worldType]="type"
      ></app-square><!-- [tick]="tick$ | async" -->
    </div>
  </div>
</div>
