<img
  src="{{trackImagePath}}/Track_{{type}}_A.png"
  class="absolute"
  [class.hidden]="speed > 0 && tick && tick % 2 === 0"
  [style]="{ height: style.height, bottom: style.bottom }"
  [style.left]="side === trackSide.Left && style.offset"
  [style.right]="side === trackSide.Right && style.offset"
  alt=""
>
<img
  src="{{trackImagePath}}/Track_{{type}}_B.png"
  class="absolute"
  [class.hidden]="speed > 0 && tick && tick % 2 === 1"
  [style]="{ height: style.height, bottom: style.bottom }"
  [style.left]="side === trackSide.Left && style.offset"
  [style.right]="side === trackSide.Right && style.offset"
  alt=""
>
