<ng-template
  [ngTemplateOutlet]="explosion"
  [ngTemplateOutletContext]="{ frame: frame$ | async }"
></ng-template>
<ng-template #explosion let-frame=frame>
  <img
    *ngIf="frame !== null && frame < framesCount"
    src="{{explosionImagePath}}/Explosion_{{type}}_0{{frame}}.png"
    class="w-full h-full z-5 relative"
    alt=""
  >
  <img
    *ngIf="showBlastTrail && frame >= framesCount"
    [src]="isCollision ? collisionImage : blastTrailImage"
    class="w-full h-full z-2 relative opacity-70"
    alt=""
  >
</ng-template>
