<ng-container *transloco="let t">
  <p-dialog
    [draggable]="false"
    [header]="t('menu')"
    (onHide)="close()"
    styleClass="w-24rem h-24rem menu-dialog"
    [(visible)]="isVisible"
  >
    <p-tabView>
      <!-- Настройки -->
      <p-tabPanel [header]="t('settings')" [headerStyle]="{ width: '7.5rem' }">
        <div class="overflow-y-auto" style="height: 15.5rem; padding: 0 0.75rem;">
          <!-- Язык -->
          <div class="field mt-3">
            <label>{{ t('language') }}</label>
            <p-selectButton [options]="languages" [(ngModel)]="language" (onChange)="changeLanguage()"></p-selectButton>
          </div>
          <!-- Тема -->
          <div class="field">
            <label>{{ t('theme') }}</label>
            <p-selectButton [options]="themes" [(ngModel)]="isDarkTheme" (onChange)="changeTheme()"></p-selectButton>
          </div>
        </div>
      </p-tabPanel>

      <!-- Игра -->
      <p-tabPanel [header]="t('game')">
        <div class="overflow-y-auto" style="height: 15.5rem; padding: 0 0.75rem;">
          <!-- Размер мира -->
          <div class="field mt-3">
            <label>{{ t('worldSize') }}</label>
            <p-selectButton [options]="worldSizes" [(ngModel)]="worldSize" styleClass="font-normal"></p-selectButton>
            <small class="p-error" [class.block]="this.worldSize !== this.prevWorldSize" [class.hidden]="this.worldSize === this.prevWorldSize">
              {{ t('worldWillBeRestarted') }}
            </small>
          </div>
          <!-- Тип мира -->
          <div class="field">
            <label>{{ t('worldType') }}</label><!-- Природная зона -->
            <p-selectButton [options]="worldTypes" [(ngModel)]="worldType" (onChange)="changeWorldType()"></p-selectButton>
          </div>
          <!-- Перезапустить мир -->
          <button
            pButton
            pRipple
            type="button"
            [label]="t('restartWorld')"
            class="p-button-secondary mt-2"
            (click)="close(true)"
          ></button>
        </div>
      </p-tabPanel>

      <!-- Управление -->
      <p-tabPanel [header]="t('controls')" [headerStyle]="{ width: '8rem' }">
        <p-table [value]="controls" [scrollable]="true" scrollHeight="15.5rem">
          <ng-template pTemplate="header">
            <tr>
              <th>{{ t('action') }}</th>
              <th>{{ t('button') }} 1</th>
              <th>{{ t('button') }} 2</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-control>
            <tr>
              <td>{{ control.action }}</td>
              <td>{{ control.buttonOne }}</td>
              <td>{{ control.buttonTwo }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </p-dialog>
</ng-container>
