/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

body {
  margin: 0;
}

.h-05rem {
  height: 0.875rem !important;
}

.m-05 {
  margin: 0.125rem !important;
}

.mr-05 {
  margin-right: 0.125rem !important;
}

.mt-05 {
  margin-top: 0.125rem !important;
}

.rotate-135 {
  transform: rotate(135deg) !important;
}

.-rotate-135 {
  transform: rotate(-135deg) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.text-xxs {
  font-size: 0.5rem !important;
}

.w-05rem {
  width: 0.875rem !important;
}

.z-6 {
  z-index: 6 !important;
}

.z-7 {
  z-index: 7 !important;
}

.z-8 {
  z-index: 8 !important;
}
