/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222222;
  color: gray;
  margin: 0;
}

.z-6 {
  z-index: 6 !important;
}

.z-7 {
  z-index: 7 !important;
}
