<div
  class="absolute w-full h-full z-7 text-white-alpha-90"
  [class.hidden]="isHidden"
  [class.flex]="!isHidden"
  [class.rotate-0]="tankDirection === directionEnum.Up"
  [class.-rotate-45]="tankDirection === directionEnum.UpRight"
  [class.rotate-45]="tankDirection === directionEnum.UpLeft"
  [class.-rotate-90]="tankDirection === directionEnum.Right"
  [class.rotate-90]="tankDirection === directionEnum.Left"
  [class.-rotate-135]="tankDirection === directionEnum.DownRight"
  [class.rotate-135]="tankDirection === directionEnum.DownLeft"
  [class.rotate-180]="tankDirection === directionEnum.Down"
>
  <span *ngIf="initialArmor" class="text-xxs m-05">
    <ng-container *ngFor="let shield of [].constructor(initialArmor); let index=index">
      <i class="fa-solid fa-shield mr-05" [class.hidden]="armor <= index"></i>
      <i class="pi pi-shield mr-05" [class.hidden]="armor > index"></i>
      <!--<img src="assets/images/craftpix/Bonus_Items/HP_Icon.png" class="w-05rem h-05rem" [class.hidden]="armor <= index"/>-->
    </ng-container>
  </span>
</div>
